<menu>
	<ul>
		<li><a href="{{path('homepage_translation')}}" {% if 'homepage' in app.request.attributes.get( '_route' ) %} class="active"{% endif %}>{{'HEADER.HOME' | trans}}</a></li>
		<li><a href="{{path('add_product')}}" {% if 'add_product' in app.request.attributes.get( '_route' ) %} class="active" {% endif %}>{{'HEADER.PROJECT' | trans}}</a></li>
		<li><a href="{{path('list_product')}}" {% if 'list_product' in app.request.attributes.get( '_route' ) %} class="active" {% endif %}>{{'HEADER.PROJECTLIST' | trans}}</a></li>
		<li><a href="{{path('login')}}">LOGIN</a></li>
		<li><a href="{{path('register')}}" {% if 'register' in app.request.attributes.get( '_route' ) %} class="active" {% endif %}>{{'HEADER.REGISTER' | trans}}</a></li>
	</ul>
</menu>
{# 
	puisque app.flashes / le flash de la session se vide dès qu'on y touche, on en fait une copie dans infoMessages
	Si il n'est pas vide, on va afficher autant de <p> que de message contenu
#}
{% set infoMessages = app.flashes('info') %}
{% if infoMessages is not empty %}
    <div> 
    {% for message in infoMessages %}
    	<p>{{ message }} </p>
    {% endfor %}
    </div>
{% endif %}